@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Work Sans", sans-serif;
}

body{
    width: 100%;
    min-height: 100vh;
    background-color: #E2DFD0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    width: 90%;
    margin: 0 auto;
    max-width: 592px;
    text-align: center;
    background-color: #F97300;
    padding: 25px;
    border-radius: 5px;
    color: #32012F;
    box-shadow: 5px 5px 5px #32012F;
}

.container h1{
    font-size: 30px;
    padding: 20px 0;
}
.container h1 i{
    margin-right: 10px;
}
.container .timer{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
}

.timer .select{
    position: relative;
}

.timer select{
    -webkit-appearance: none;
    font-size: 6rem;
    background-color: transparent;
    border: none;
    outline: none;
    color: #32012F;
}
.timer select::-webkit-scrollbar{
    width: 0px;
}

.timer .select::after{
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 14px;
    font-weight: 600;
    color: #32012F;
}
.timer .min-select::after{
    content: 'MINUTE';
}
.timer .sec-select::after{
    content: 'SECOND';
}
.timer .hour-select::after{
    content: 'HOUR';
}
.timer #colon{
    font-size: 3rem;
}


.container .buttons{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 30px 0;
}

.buttons button{
    border: 0;
    outline: 0;
    padding: 15px;
    background-color: #32012F;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
button i{
    font-size: 1.5rem;
    color: #E2DFD0;
    position: relative;
}
button i:hover:after{
    position: absolute;
    bottom: -40px;
    left: 0;
    font-size: 12px;
    letter-spacing: 5px;
    background-color: #32012F;
    color: #feefad;
    padding: 5px;
}

button i.fa-play:hover::after{
    content: 'Play';
}
button i.fa-pause:hover::after{
    content: 'Pause';
}
button i.fa-power-off:hover::after{
    content: 'Reset';
}
button i.fa-arrow-rotate-right:hover::after{
    content: 'Count';
}
button i.active{
    color: #F97300;
}

.container .count-box{
    width: 100%;
    margin-top: 20px;
    /* display: none; */
}
.container .count-box.active{
    display: block;
}
.count-box .count{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #fb831a;
}
.count p{
    font-weight: 600;
}
.count p:nth-child(1){
    display: flex;
    flex-direction: column;
    color: #5e0258;
}

.count #duration{
    font-size: 0.813rem;
}
.count #stop-time{
    font-size: 2rem;
}

@media (max-width: 592px) {
    .timer select{
        font-size: 3rem;

    }
    .timer .select::after{
        font-size: 10px;
        bottom: -2px;
    }
    .timer #colon{
        font-size: 2rem;
    }

    .timer select::after{
        font-size: 12px;
        bottom: -10px;
    }
}
